* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.products-grid {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media screen and (max-width: 900px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 620px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
